<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

  <test name="Testfirefox">
  
  <parameter name="node" value="http://localhost:3333/wd/hub"/>
  <parameter name="browserName" value="firefox"/>
  
  <packages>
  <package name="com.pulse.test"/>
  
  </packages>
  </test>
  
  <test name="TestChrome">
  
  <parameter name="node" value="10.71.130.18:5555/wd/hub"/>
  <parameter name="browserName" value="Chrome"/>
  
  <packages>
  <package name="com.pulse.test"/>
  
  </packages>
  </test>
  
  
  
   
</suite>

